@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.link-container {
  width: 700px;
  margin: 30px auto;

}

.link {
  text-decoration: none;
  color: #000;
}

p {
  text-align: justify;
  padding: 6px;
}

h3 {
  font-size: 20px;
  transition: background-color .15s;

}

img {
  border-radius: 8px;
}

/* all beers */
.each-beer-container {
  max-width: 400px;
  display: flex;
  margin: 20px;
  padding: 20px 30px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 1px 1px 8px lightgrey;
}

.each-beer-container img {
  width: 50px
}

.each-bear-img {
  width: 50px;
}


.tagline,
.attenuation-level,
.contributed-by {
  color: rgba(118, 115, 115, 0.8)
}

.created-by-para {
  text-align: center;
}

.one-beer-container {
  max-width: 300px;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px lightgrey;



}